In [1]:
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns

In [2]:
# Carregando o arquivo de dados
file_path = 'data/UDer-1.1-pt-EtymWordNetPT.tsv'
df = pd.read_csv(file_path, sep='\t', header=None)

# Renomeando as colunas
df.columns = ['Col1', 'LemmaID', 'Lemma', 'POS', 'Col6', 'Col7', 'Col8', 'Col9', 'Col10', 'Col11']

# Visualizando as primeiras linhas do DataFrame
print(df.head())

   Col1      LemmaID       Lemma  POS  Col6  Col7  Col8             Col9  \
0   0.0      Alasca#      Alasca  NaN   NaN   NaN   NaN              NaN
1   0.1    alascano#    alascano  NaN   NaN   NaN   0.0  Type=Derivation
2   0.2    alascana#    alascana  NaN   NaN   NaN   0.1  Type=Derivation
3   1.0   Babilónia#   Babilónia  NaN   NaN   NaN   NaN              NaN
4   1.1  babilónico#  babilónico  NaN   NaN   NaN   1.0  Type=Derivation

   Col10 Col11
0    NaN    {}
1    NaN    {}
2    NaN    {}
3    NaN    {}
4    NaN    {}

In [3]:
# Resumo estatístico das colunas numéricas
print(df.describe())

              Col1  POS  Col6  Col7         Col8  Col10
count  2797.000000  0.0   0.0   0.0  1610.000000    0.0
mean    587.278338  NaN   NaN   NaN   582.907516    NaN
std     341.275555  NaN   NaN   NaN   340.196893    NaN
min       0.000000  NaN   NaN   NaN     0.000000    NaN
25%     297.200000  NaN   NaN   NaN   297.250000    NaN
50%     583.300000  NaN   NaN   NaN   578.500000    NaN
75%     875.000000  NaN   NaN   NaN   868.000000    NaN
max    1186.200000  NaN   NaN   NaN  1186.000000    NaN

In [4]:
# Contagem de valores únicos em cada coluna
print(df.nunique())

Col1       2786
LemmaID    2797
Lemma      2797
POS           0
Col6          0
Col7          0
Col8       1204
Col9          1
Col10         0
Col11        28
dtype: int64

In [5]:
# Verificando os tipos de dados das colunas
print(df.dtypes)

Col1       float64
LemmaID     object
Lemma       object
POS        float64
Col6       float64
Col7       float64
Col8       float64
Col9        object
Col10      float64
Col11       object
dtype: object